<div class="table-container datatable-container {{containerClass}}">

  <table class="display {{tableClass}}" #tableElement>
    <thead>
    <tr role="row" class="heading">
      <th *ngFor="let column of columns;let colIndex = index"
          [ngClass]="{'row-selector selector':(column.bodyTemplate ? 1 : (column.rowSelector ? 2 : 0))==2}">

        <ng-container [ngSwitch]="column.headerTemplate ? 1 : (column.rowSelector ? 2 : 0)">
          <ng-container *ngSwitchCase="1"
                        [ngTemplateOutlet]="column.headerTemplate?.templateRef"
                        [ngTemplateOutletContext]="{$implicit:{column:column}}"
                        #headerTemplate></ng-container>

          <span *ngSwitchCase="2">
            <span class="rowselector-checkbox">
              <input type="checkbox" id="rowselector_{{colIndex}}">
            </span>
          </span>

          <span *ngSwitchDefault>{{column.header}}</span>
        </ng-container>

      </th>
    </tr>

    </thead>
    <tbody>

    </tbody>

  </table>

  <ng-container #templateContainer>

  </ng-container>

</div>
