<ul class="docs-nav" style="top: 49px;">
  <li><strong>Getting Started</strong></li>
  <li><a href="#installation" class="cc-active active">Installation</a></li>
  <li><a href="#features" class="cc-active">Features</a></li>
  <li><a href="#change-log" class="cc-active">Change Log</a></li>
  <li><a href="#license" class="cc-active">License</a></li>
  <li class="separator"></li>
  <li><strong>Basic Usage</strong></li>
  <li><a href="#view_type" class="cc-active">Zero Configuration</a></li>
  <li><a href="#animation_style" class="cc-active">Using Options</a></li>
  <li><a href="#bars_text" class="cc-active">Client Side</a></li>
  <li><a href="#vote_counter" class="cc-active">Server Side</a></li>
  <li class="separator"></li>
  <li><strong>Advanced Usage</strong></li>
  <li><a href="#view_type" class="cc-active">Row Selection</a></li>
  <li><a href="#animation_style" class="cc-active">Custom Cell Template</a></li>
  <li><a href="#bars_text" class="cc-active">Portlet</a></li>
  <li><a href="#vote_counter" class="cc-active">Portlet Tools</a></li>
  <li><a href="#vote_counter" class="cc-active">Filtering</a></li>
  <li><a href="#vote_counter" class="cc-active">Themes</a></li>
  <li class="separator"></li>
  <li><strong>Portlet</strong></li>
  <li><a href="#view_type" class="cc-active">Row Selection</a></li>
  <li><a href="#animation_style" class="cc-active">Custom Cell Template</a></li>
  <li><a href="#bars_text" class="cc-active">Client Side</a></li>
  <li><a href="#vote_counter" class="cc-active">Server Side</a></li>
  <li class="separator"></li>
  <li><strong>API</strong></li>
  <li><a href="#view_type" class="cc-active">Component/Directive</a></li>
  <li><a href="#view_type" class="cc-active">Native Datatables</a></li>
  <li class="separator"></li>
  <li><strong>Demo</strong></li>
  <li><a href="#view_type" class="cc-active">Basic</a></li>
  <li class="separator"></li>
  <li><strong>Contributing</strong></li>
  <li><a href="#bar_colors" class="cc-active">How To Contribute</a></li>
  <li><a href="#bar_colors" class="cc-active">Building a Release</a></li>
  <li><a href="#bar_colors" class="cc-active">Credits</a></li>
</ul>
