<ngx-datatables-portlet caption="Users" style="display:none">
  <ng-template ngxDatatablesTemplate="filters">
    <div class="row">
      <div class="col-md-4 form-group">
        <label for="countryFilter">Country</label>
        <input id="countryFilter" name="country.countryName"
               class="form-control"
               type="text" placeholder="Country"/>
      </div>
      <div class="col-md-4 form-group">
        <label for="bankCodeFilter">Bank Code</label>
        <input id="bankCodeFilter" name="bankCode" class="form-control"
               type="text" placeholder="Bank Code"/>
      </div>
      <div class="col-md-4 form-group">
        <label for="bankNameFilter">Bank Name</label>
        <input id="bankNameFilter" name="bankName" class="form-control"
               type="text" placeholder="Bank Name"/>
      </div>
    </div>
  </ng-template>
  <ng-template ngxDatatablesTemplate="actions">
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-success" title="New"><i class="fa fa-file"></i> New</button>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn blue-hoki" title="Export"><i class="fa fa-download"></i> Export</button>
        <button class="btn blue-hoki" title="Search"><i class="fa fa-search"></i> Search</button>
      </div>
    </div>
  </ng-template>


</ngx-datatables-portlet>

<ngx-datatables [options]="options">
  <ngx-datatables-column header="User Role" [rowSelector]="true">
  </ngx-datatables-column>

  <ngx-datatables-column header="User Role">
    <ng-template ngxDatatablesTemplate="header">Name</ng-template>
  </ngx-datatables-column>
  <ngx-datatables-column header="Job">

  </ngx-datatables-column>
  <ngx-datatables-column header="Type">
  </ngx-datatables-column>
  <ngx-datatables-column header="Actions">
    <ng-template ngxDatatablesTemplate="body" let-context>
      <div class="btn-toolbar">
        <a (click)="_onClick($event,context)" class="btn btn-sm blue-hoki" href="javascript:"
           title="Search">
          <i class="glyphicon glyphicon-search"></i>
        </a>
        <a (click)="_onClick($event,context)" class="btn btn-sm blue-hoki green-steel" href="javascript:"
           title="Edit">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a (click)="_onClick($event,context)" class="btn btn-sm blue-hoki red-haze" href="javascript:"
           title="Delete">
          <i class="glyphicon glyphicon-search"></i>
        </a>
      </div>
    </ng-template>
  </ngx-datatables-column>

</ngx-datatables>
