<div class="portlet portlet-datatable">
  <div class="portlet-title">
    <div class="caption">
      <i [ngClass]="iconClass ? iconClass :'glyphicon glyphicon-th-list'"></i>
      <span class="caption-subject">{{caption}}</span>
      <span class="caption-helper">{{description}}</span>
    </div>

    <div class="tools">
    </div>
    <div class="actions" #toolsPanel>
      <a class="btn filter {{filterClass}}" [attr.title]="filterTitle?filterTitle:'Toggle Filters'"
         href="javascript:">
        <i [ngClass]="filterIconClass ? filterIconClass :'glyphicon glyphicon-filter'"></i>
      </a>
      <a class="btn fullscreen {{fullscreenClass}}" [attr.title]="fullscreenTitle?fullscreenTitle:'Toggle fullscreen'"
         href="javascript:">
        <i [ngClass]="fullscreenIconClass ? fullscreenIconClass :'glyphicon glyphicon-resize-full'"></i>
      </a>
    </div>
  </div>
  <div class="portlet-title datatable-filter" style="display:none" #filterPanel>
    <ng-container [ngTemplateOutlet]="filtersTemplate?.templateRef"></ng-container>
  </div>
  <div class="portlet-body">
    <div>
      <ng-container [ngTemplateOutlet]="actionsTemplate?.templateRef"></ng-container>
    </div>

    <ng-content></ng-content>
  </div>
</div>
